 <header id="header" class="fixed-top" *ngIf="isAutenticado == true">
    <div class="container d-flex align-items-center">

      <h5 class="logo mr-auto"><a href="/bienvenidos">Farmaceutica la Javeriana</a></h5>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="farmaceutica/despachos" *ngIf="this.perfil == 'cliente'">Mis Despachos</a></li>
          <li><a href="farmaceutica/historial-despachos" *ngIf="this.perfil == 'cliente'">Historial despachos</a></li>
          <li><a href="farmaceutica/ordenes-compra" *ngIf="this.perfil == 'proveedor'">Ordenes de compra</a></li>
          </ul>
      </nav>
      <a href="" class="appointment-btn scrollto" (click)="cerrarSesion()">Cerrar sesión</a>
    </div>
  </header>