<div class="container">
    <h4>Registro de usuarios</h4>
    <hr>
    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputIdentificacion">Numero de indentificacion <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputIdentificacion" formControlName="inputIdentificacion">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNombres">Nombres <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputNombres" formControlName="inputNombres">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputApellidos">Apellidos <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputApellidos" formControlName="inputApellidos"> 
            </div>
            <div class="form-group col-md-6">
                <label for="inputDireccion">Direccion <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputDireccion" formControlName="inputDireccion">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputTelefono">Telefeno <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputTelefono" formControlName="inputTelefono">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCiudad">Ciudad</label>
                <select id="inputCiudad" class="form-control" formControlName="inputCiudad">
                    <option selected>Seleccione...</option>
                    <option value="Bogota">Bogota</option>
                    <option value="Medellin">Medellin</option>
                    <option value="Barranquilla">Barranquilla</option>
                    <option value="Santa Marta">Santa Marta</option>
                    <option value="Cali">Cali</option>
                    <option value="Pereira">Pereira</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inpuRolUsuario">Tipo Usuario <span class="text-danger">*</span></label>
                <select id="inpuRolUsuario" class="form-control" formControlName="inpuRolUsuario">
                    <option selected>Seleccione...</option>
                    <option value="2">Cliente</option>
                    <option value="3">Proveedor</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPass1">Contraseña <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="inputPass1" formControlName="inputPass1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPass2">Confirme contaseña</label>
                <input type="password" class="form-control" id="inputPass2" formControlName="inputPass2">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNombreusuario">NombreUsuario</label>
                <input type="text" class="form-control" id="inputNombreusuario" formControlName="inputNombreusuario">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCorreo">Correo</label>
                <input type="text" class="form-control" id="inputCorreo" formControlName="inputCorreo">
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)='crearUsuarioSubmit()'>Registrar</button>
        <a href="/" class="ml-3">Atras</a>
        <br>
    </form>
</div>