<h4>Despachos clientes</h4>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Orden</th>
        <th>Cantidad de Cajas</th>
        <th>Peso total</th>
        <th>Oferta</th>
        <th>transportadora</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of lisDespachos;">
      <tr>
        <th>{{item.id}}</th>
        <th>{{item.cantidadCajas}}</th>
        <th>{{item.pesoTotal}}</th>
        <th>{{item.mejorOferta}}</th>
        <th>{{item.transportadora}}</th>
        <td><button type="button" class="btn btn-primary btn-sm" (click)="DespachoCliente(item);">Aceptar oferta</button></td>
      </tr>
    </tbody>
  </table>